# Importing Data Frames Into Python

This notebook illustrates how to import the data frames constructed for the US Federal Debt Project into python 3.

The data frames have been stored in three different formats: .pkl, .csv and .hdf5. Each of these different formats is studied in turn.

## Preliminaries

### Complementary Resources

See the file ReadMe.pdf, located in the the Documentation folder, for an explanation of the contents of the "Industrial Suite" of the US Federal Debt Project.

### Import Modules

In [1]:
import numpy as np
import pandas as pd
#-Import custom import methods for the csv files-#
from Functions import (  import_csv_BondList,
                        import_csv_BondTimeSeries)

## Import the Data Frames from .csv Files.

The data frames have also been stored as .csv files. The format is more difficult to use than the .pkl format. However, it has two significant advantages:
1. The .csv format is fully developed and so will be compatible with all versions of pandas.
2. The .csv files are significantly smaller in size than the .pkl files.

### Importing with pandas in built read_csv method

The data frames can be imported directly using the standard pandas read_csv method. This is demonstrated for the BondList.csv and the BondQuant.csv file below.

In [2]:
BondListC = pd.read_csv('DataFrames/BondList.csv', index_col=0)
BondListC.head()

,Import ID,Category L1,Category L2,Category L3,Category L1 ID,Category L2 ID,Category L3 ID,Issue L1 ID,Issue L2 ID,Issue L3 ID,...,CF10,CF11,CF12,Ambiguous,Coin,Callable,Price Sold,Authorized Amount,Limit On Issued,Marginal Increase In Total Debt Authorized
L1 ID,,,,,,,,,,,,,,,,,,,,,
10001,10081,Pre 1790 Domestic Debt,Pre 1790 Domestic Debt,Loan Office Certificates,1,1,1,1,1,1,...,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,1.0,NaN
10002,10083,Pre 1790 Domestic Debt,Pre 1790 Domestic Debt,Interest In Arrears,1,1,2,2,2,1,...,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN
10003,10084,Pre 1790 Domestic Debt,Pre 1790 Domestic Debt,Interest In Arrears,1,1,2,3,3,2,...,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN
20001,10001,Interest Bearing,Marketable,Foreign Loan,2,2,3,1,1,1,...,NaN,NaN,NaN,1.0,1.0,0.0,1.0,NaN,1.0,NaN
20002,10002,Interest Bearing,Marketable,Foreign Loan,2,2,3,2,2,2,...,NaN,NaN,NaN,1.0,1.0,0.0,1.0,NaN,1.0,NaN

In [3]:
BondQuantC = pd.read_csv('DataFrames/BondQuant.csv')
BondQuantC.head()

,L1 ID,Series,1776-12-31,1777-01-31,1777-02-28,1777-03-31,1777-04-30,1777-05-31,1777-06-30,1777-07-31,...,1959-09-30,1959-10-31,1959-11-30,1959-12-31,1960-01-31,1960-02-29,1960-03-31,1960-04-30,1960-05-31,1960-06-30
0,10001,Active Outstanding,946975.000000,NaN,NaN,1893950.0,NaN,NaN,2840925.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10002,Active Outstanding,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10003,Active Outstanding,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20001,Active Outstanding,0.000001,NaN,NaN,NaN,NaN,NaN,181500.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20001,Intra Government Holdings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Importing with custom import functions

There are number of potential pitfalls with using the standard pandas read_csv method. One difficulty is that dates are loaded as strings rather than datetime objects. Another difficulty is that the read_csv import format does not recognise multi-indexing. For these reasons, two custom import functions have been included with Industrial Suite:
* import_csv_BondList: Imports the BondList file
* import_csv_BondTimeSeries: Imports the BondQuant, BondPrice and MacroData files

The different custom import functions are demonstrated below.

In [4]:
BondListC = import_csv_BondList('DataFrames/BondList.csv')
BondListC['First Issue Date'].head()

L1 ID
10001          NaT
10002          NaT
10003          NaT
20001   1777-06-30
20002   1778-03-31
Name: First Issue Date, dtype: datetime64[ns]

In [5]:
BondQuantC = import_csv_BondTimeSeries('DataFrames/BondQuant.csv')
BondQuantC.head()

L1 ID                   10001              10002              10003  \
Series     Active Outstanding Active Outstanding Active Outstanding
1776-12-31           946975.0                NaN                NaN
1777-01-31                NaN                NaN                NaN
1777-02-28                NaN                NaN                NaN
1777-03-31          1893950.0                NaN                NaN
1777-04-30                NaN                NaN                NaN

L1 ID                   20001                                                \
Series     Active Outstanding Intra Government Holdings Matured Outstanding
1776-12-31           0.000001                       NaN                 NaN
1777-01-31                NaN                       NaN                 NaN
1777-02-28                NaN                       NaN                 NaN
1777-03-31                NaN                       NaN                 NaN
1777-04-30                NaN                       NaN                 NaN

L1 ID                                                     20002  \
Series     Public Holdings Total Outstanding Active Outstanding
1776-12-31        0.000001          0.000001                NaN
1777-01-31             NaN               NaN                NaN
1777-02-28             NaN               NaN                NaN
1777-03-31             NaN               NaN                NaN
1777-04-30             NaN               NaN                NaN

L1 ID                                       ...                      40022  \
Series     Intra Government Holdings        ...        Matured Outstanding
1776-12-31                       NaN        ...                        NaN
1777-01-31                       NaN        ...                        NaN
1777-02-28                       NaN        ...                        NaN
1777-03-31                       NaN        ...                        NaN
1777-04-30                       NaN        ...                        NaN

L1 ID                                                     40023  \
Series     Public Holdings Total Outstanding Active Outstanding
1776-12-31             NaN               NaN                NaN
1777-01-31             NaN               NaN                NaN
1777-02-28             NaN               NaN                NaN
1777-03-31             NaN               NaN                NaN
1777-04-30             NaN               NaN                NaN

L1 ID                                                                     \
Series     Intra Government Holdings Matured Outstanding Public Holdings
1776-12-31                       NaN                 NaN             NaN
1777-01-31                       NaN                 NaN             NaN
1777-02-28                       NaN                 NaN             NaN
1777-03-31                       NaN                 NaN             NaN
1777-04-30                       NaN                 NaN             NaN

L1 ID                                 50001
Series     Total Outstanding In Circulation Total Outstanding
1776-12-31               NaN            NaN               NaN
1777-01-31               NaN            NaN               NaN
1777-02-28               NaN            NaN               NaN
1777-03-31               NaN            NaN               NaN
1777-04-30               NaN            NaN               NaN

[5 rows x 14344 columns]

In [6]:
BondPriceC = import_csv_BondTimeSeries('DataFrames/BondPrice.csv')
BondPriceC.head()

L1 ID,10001,10002,10003,20001,20002,20003,20004,20005,20006,20007,...,40015,40016,40017,40018,40019,40020,40021,40022,40023,50001
Series,Average,Average,Average,Average,Average,Average,Average,Average,Average,Average,...,Average,Average,Average,Average,Average,Average,Average,Average,Average,Average
1776-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1777-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1777-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1777-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1777-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Import the Data Frames from .hdf5 Files

The data has also been stored in the .hdf5 format. This format can store data in a more compact way and we can also implement some basic SQL language when we are restoring data from this format. So this can be especially helpful when we are dealing with some large files. For more detailed usage of this file format, please find notebook in Trainning Folder.

We start by opening the hdf5 file.

In [7]:
## Open the hdf5 file
Bondh5 = pd.HDFStore("DataFrames/BondDF.h5",mode="r")

We can then inspect what is stored in the hdf5 file. We can see that there are four dataframes: BondList, BondPrice, BondQuant and MacroData.

In [8]:
## Extract and print information on the dataframe
infoh5 = Bondh5.info()
print(infoh5)

<class 'pandas.io.pytables.HDFStore'>
File path: DataFrames/BondDF.h5
/BondList             frame_table  (typ->appendable,nrows->2857,ncols->47,indexers->[index])
/BondPrice            frame
/BondQuant            frame
/MacroData            frame        (shape->[2203,9])

Now, we can import the four dataframes.

In [9]:
BondListH = Bondh5["BondList"]
BondQuantH = Bondh5["BondQuant"]
BondPriceH = Bondh5["BondPrice"]
MacroDataH = Bondh5["MacroData"]

Once we have imported the dataframes, we must close the hdf5 file.

In [10]:
## Close the hdf5 file
Bondh5.close()

Now, we can inspect the imported dataframes.

In [11]:
BondListH.head()

,Import ID,Category L1,Category L2,Category L3,Category L1 ID,Category L2 ID,Category L3 ID,Issue L1 ID,Issue L2 ID,Issue L3 ID,...,CF10,CF11,CF12,Ambiguous,Coin,Callable,Price Sold,Authorized Amount,Limit On Issued,Marginal Increase In Total Debt Authorized
L1 ID,,,,,,,,,,,,,,,,,,,,,
10001,10081,Pre 1790 Domestic Debt,Pre 1790 Domestic Debt,Loan Office Certificates,1,1,1,1,1,1,...,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,1.0,NaN
10002,10083,Pre 1790 Domestic Debt,Pre 1790 Domestic Debt,Interest In Arrears,1,1,2,2,2,1,...,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN
10003,10084,Pre 1790 Domestic Debt,Pre 1790 Domestic Debt,Interest In Arrears,1,1,2,3,3,2,...,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN
20001,10001,Interest Bearing,Marketable,Foreign Loan,2,2,3,1,1,1,...,NaN,NaN,NaN,1.0,1.0,0.0,1.0,NaN,1.0,NaN
20002,10002,Interest Bearing,Marketable,Foreign Loan,2,2,3,2,2,2,...,NaN,NaN,NaN,1.0,1.0,0.0,1.0,NaN,1.0,NaN

In [12]:
BondQuantH.head()

L1 ID                   10001              10002              10003  \
Series     Active Outstanding Active Outstanding Active Outstanding
1776-12-31           946975.0                NaN                NaN
1777-01-31                NaN                NaN                NaN
1777-02-28                NaN                NaN                NaN
1777-03-31          1893950.0                NaN                NaN
1777-04-30                NaN                NaN                NaN

L1 ID                   20001                                                \
Series     Active Outstanding Intra Government Holdings Matured Outstanding
1776-12-31           0.000001                       NaN                 NaN
1777-01-31                NaN                       NaN                 NaN
1777-02-28                NaN                       NaN                 NaN
1777-03-31                NaN                       NaN                 NaN
1777-04-30                NaN                       NaN                 NaN

L1 ID                                                     20002  \
Series     Public Holdings Total Outstanding Active Outstanding
1776-12-31        0.000001          0.000001                NaN
1777-01-31             NaN               NaN                NaN
1777-02-28             NaN               NaN                NaN
1777-03-31             NaN               NaN                NaN
1777-04-30             NaN               NaN                NaN

L1 ID                                       ...                      40022  \
Series     Intra Government Holdings        ...        Matured Outstanding
1776-12-31                       NaN        ...                        NaN
1777-01-31                       NaN        ...                        NaN
1777-02-28                       NaN        ...                        NaN
1777-03-31                       NaN        ...                        NaN
1777-04-30                       NaN        ...                        NaN

L1 ID                                                     40023  \
Series     Public Holdings Total Outstanding Active Outstanding
1776-12-31             NaN               NaN                NaN
1777-01-31             NaN               NaN                NaN
1777-02-28             NaN               NaN                NaN
1777-03-31             NaN               NaN                NaN
1777-04-30             NaN               NaN                NaN

L1 ID                                                                     \
Series     Intra Government Holdings Matured Outstanding Public Holdings
1776-12-31                       NaN                 NaN             NaN
1777-01-31                       NaN                 NaN             NaN
1777-02-28                       NaN                 NaN             NaN
1777-03-31                       NaN                 NaN             NaN
1777-04-30                       NaN                 NaN             NaN

L1 ID                                 50001
Series     Total Outstanding In Circulation Total Outstanding
1776-12-31               NaN            NaN               NaN
1777-01-31               NaN            NaN               NaN
1777-02-28               NaN            NaN               NaN
1777-03-31               NaN            NaN               NaN
1777-04-30               NaN            NaN               NaN

[5 rows x 14344 columns]

In [13]:
BondPriceH.head()

L1 ID,10001,10002,10003,20001,20002,20003,20004,20005,20006,20007,...,40015,40016,40017,40018,40019,40020,40021,40022,40023,50001
Series,Average,Average,Average,Average,Average,Average,Average,Average,Average,Average,...,Average,Average,Average,Average,Average,Average,Average,Average,Average,Average
1776-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1777-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1777-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1777-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1777-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
MacroDataH.head()

,gdpNom,gdpReal,gdpDeflator,pop,gdpNomGrowth,gdpRealGrowth,inflation,popGrowth,Price of Gold
1776-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1777-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1777-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1777-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1777-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN